<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a computer engineering undergraduate and freelance web, mobile and desktop applications developer especially skilled in Javascript and PHP. I have over a year experience
			developing web applications and cross platform mobile applications.<br />
			I am mostly an Agile developer who follows up on the latest development in the web and mobile applications world.
		</div>
		<br>
	</div>
</div>
