{% if site.stackoverflow %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>StackOverflow Flair</h1>
		</div>
		<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
		<div class="content-rounded-panel">
			<div id="stackScore">
				<a target='_blank' href="{{site.stackoverflow.profileurl}}">
					<img src="{{site.stackoverflow.flairimageurl}}" width="208" height="58" 
						alt="profile at Stack Overflow, Q&amp;A for professional and enthusiast programmers" 
						title="profile at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
				</a>
			</div>
			<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="ianthony3">
				<a class="LI-simple-link" href='https://ng.linkedin.com/in/ianthony3?trk=profile-badge'>Ikenna Okafor</a>
			</div>
		</div>
	</div>
{% endif %}
